<h3>TimeSync</h3>
<div id="time"></div>
<div>offset=<span id="offset"></span></div>

<hr>
<h3>Subscribed Channels</h3>
<p id="subscribed_channels"></p>
<hr>

<form action="" method="post" accept-charset="utf-8" id="channel_subscribe">
  <label for="channel_path">Channel Path</label><input type="text" name="channel_path" value="" id="channel_path">
  <br/><input type="submit" value="Subscribe &rarr;">
</form>

<hr>

<form action="" method="post" accept-charset="utf-8" id="channel_unsubscribe">
  <label for="unsub_channel_path">Channel Path</label><input type="text" name="unsub_channel_path" value="" id="unsub_channel_path">
  <br/><input type="submit" value="Unsubscribe &rarr;">
</form>

<script type="text/javascript" charset="utf-8">
  (function($)
  {
    SUBSCRIBED_CHANNELS = [];
    
    function update_subscribed_channels() {
      $("#subscribed_channels").html(SUBSCRIBED_CHANNELS.join(", "));
    }
    
    $("#channel_subscribe").bind("submit", function(e) {
      SUBSCRIBED_CHANNELS.push($.cometd.subscribe($("#channel_path").val(), function(){}));
      $("#channel_path").val('');
      update_subscribed_channels();
      return false;
    });
    
    $("#channel_unsubscribe").bind("submit", function(e) {
      new_channels = [];
      
      $(SUBSCRIBED_CHANNELS).each(function(evt, c) {
        if (c[0] != $("#unsub_channel_path").val())
          new_channels.push(c);
        else
          $.cometd.unsubscribe(c);
        SUBSCRIBED_CHANNELS = new_channels;
      });
      
      $("#unsub_channel_path").val('');
      update_subscribed_channels();
      return false;
    });
  })(jQuery);
</script>